<h1>Child Component Text - @Counter</h1>
<hr />

<GrandChildComponent></GrandChildComponent>
@*<input id="firstName"  @attributes="InputAtributes" placeholder="Default Placeholder" value="@Value"  />*@

@code {

    [CascadingParameter(Name = "Counter")]
    public int Counter { get; set; }

    //[CascadingParameter(Name ="ColorStyle")]
    //public string ElementStyle { get; set; }
    //[CascadingParameter(Name = "BorderStyle")]
    //public string   H1Border  { get; set; }

    //[Parameter] public string Required { get; set; } = "required";
    //[Parameter] public string MaxLength { get; set; } = "15";
    //[Parameter] public string Size { get; set; } = "25";
    //[Parameter] public string PlaceHolder { get; set; } = "Child Component Palceholder";

    //[Parameter] public string Value { get; set; }

    //[Parameter(CaptureUnmatchedValues = true)]
    //public Dictionary<string, object> InputAtributes { get; set; } = new Dictionary<string, object>();


}
