@page "/ParentComponent"
<h3>ParentComponent</h3>
<hr />

@*<ChildComponent Required="required" MaxLength="100" Size="55" placeholder="Parent Component Placeholder"></ChildComponent>*@
<ChildComponent InputAtributes="AtributeFromParent" Value="Hi emilio Blazor.!!!"></ChildComponent>

@code {

    public Dictionary<string, object> AtributeFromParent { get; set; } = new Dictionary<string, object>
{
        { "required", "required" },
        { "placeholder" , "Parent Component Placeholder"},
        { "size" , "50" },
        { "maxlength" , "5" }
    };

}
