@page "/ParentComponent"
<h3>ParentComponent</h3>
<hr />

@*<ChildComponent Required="required" MaxLength="100" Size="55" placeholder="Parent Component Placeholder"></ChildComponent>*@
<ChildComponent  placeholder="Parent component Placeholder" Value="Hi emilio Barrera form Parent" size="55" maxlength="55"> </ChildComponent>

@code {

    //    public Dictionary<string, object> AtributeFromParent { get; set; } = new Dictionary<string, object>
    //{

    //        { "placeholder" , "Parent Component Placeholder"},

    //    };

}
