@page "/ParentComponent"

<h1 style="@Style">Parent Component</h1>
<hr />

@*<ChildComponent Required="required" MaxLength="100" Size="55" placeholder="Parent Component Placeholder"></ChildComponent>*@
<CascadingValue Value="@Style">

    <ChildComponent>

    </ChildComponent>

</CascadingValue>

@code {

    public string Style { get; set; } = "color:red";

    //public dictionary<string, object> atributefromparent { get; set; } = new dictionary<string, object>
    //{

    //        { "placeholder" , "parent component placeholder"},

    //    };

}
